<div class="container mb-3">
  <div class="mx-auto">
      <div class="row">
        <div class="col-10 offset-1 mb-3">
        <h3 class="page_title">店舗詳細</h3>
        </div>
        
        <div class="row mb-3">
          <div class="col">
            <%= attachment_image_tag @shop, :shop_image, :fill, 300, 600, fallback: "no_image.jpg" %>
          </div>
          <div class="col">
          <table class="table table-border">
            <tr>
              <th>店舗名</th>
              <td class="pt-3" style="font-size: 20px;"><%= @shop.shop_name %></td>
            </tr>
            <tr>
              <th>店舗説明</th>
              <td class="pt-3" style="font-size: 20px;"><%= @shop.shop_introduction %></td>
            </tr>
         
          </table>
        <%= link_to "編集する", edit_admin_shop_path(@shop), class: 'btn btn-success offset-7' %>
      </div>
        </div>
        <%= link_to '商品登録', new_admin_shop_product_path(@shop), class: "fas fa-plus-circle fa-2x", style:"color:dimgray;" %>
      </div>
     
  </div>
</div>