<main>
  <div class="container-fluid">
    <div class="row">
        <div class="slider">
          <div class="slider-img"><%= image_tag "chef5.jpg", class: "card-img",size: "200x200" %></div>
          <div class="slider-img"><%= image_tag "chef6.jpg", class: "card-img",size: "200x200" %></div>
          <div class="slider-img"><%= image_tag "chef3.jpg", class: "card-img",size: "200x200" %></div>
          <div class="slider-img"><%= image_tag "chef2.jpg", class: "card-img",size: "200x200" %></div>
          <div class="slider-img"><%= image_tag "chef7.jpg", class: "card-img",size: "200x200" %></div>
        </div>
          <div class="card-img-overlay">
         
          <div class="top-intro">Welcome to おうちレストラン！<br>
            ワンランクアップの食卓へ<br>
            会員でない方も商品の閲覧はできますが、<br>
            購入には会員登録が必要になります。<br></div>
          </div>
        
      <div class="full-img">  
          <h2 class="top-intro2">What's おうちレストラン!</h2>
          <h3 class="sub-intro">おうちでレストランの味が食べれる<br>
                                  レストランテイクアウト専用通販サイト<br>
                                    プラスワン、ワンランクアップの食卓に<br></h4>
          <div class="intro-img"></div>
          <div class="intro-img2"></div>
          <h3 class="sub-intro2">夜ご飯を作るのはめんどくさいけど<br>
                                 外食でお金を使うのも勿体無いと思った時に<br>
                                 おうちでレストランの味が楽しめます。<br>
          <h2 class="top-intro3">How To おうちレストラン</h2>
          <div class="intro-img3"></div>
      </div>
    </div>
  </div>
  </div> 
</main>